html, body {
	background-image : url('peterdancing.gif') ;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100% ;
	width: 100% ;
	overflow: hidden;
	
	
}
.the_page{
	height: 100%;
	width: 100% ;
	
}
.scrolling-text {
            width: 100%;
            white-space: nowrap;  /* Prevents text from wrapping */
			overflow: hidden; 
            box-sizing: border-box; /* Ensures padding doesn't affect the container size */
			color : green ;
			background-color: black;  
			height: 3%;
        }

.scrolling-text span {
            display: inline-block;
            padding-left: 100%;   /* Starts the text off-screen to the right */
            animation: scroll-left 20s linear infinite; /* Scrolls the text from right to left */
        }

@keyframes scroll-left {
            from {
                transform: translateX(100%); /* Start off the screen to the right */
            }
            to {
                transform: translateX(-100%); /* Scroll off the screen to the left */
            }
        }
.title{
	display:flex;
	height : 10%;
	width : 100%;
	align-items: center; 
	
}
.title1{
}
.main{
	display:flex;
	width:100%;
	height:87%;
	
}
.menu {
	width: 15%;
	height: 50%;
}
.show {
	width: 85%;
	height: 100%;
}
.shower {
	width: 100%;
	height: 100%;
}